.root {
    width: 100%;
    min-height: 100vh;
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageHeader__title {
    color: #75B79E;
    margin-top: 40px;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
}

.pageMain {
    margin-top: 47px;
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    width: 117px;
    height: 146px;
    margin-bottom: 34px;
    margin-right: 17px;
    margin-left: 17px;
    margin: 24px ;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    position: absolute;
}

.backFace {
    transform-origin: center;
    transform: rotateY(180deg);
}

.backFace--visible {
    transform-origin: center;
    transform: rotateY(0deg);
}

.frontFace--hidden {
    transform-origin: center;
    transform: rotateY(-180deg);
}

.pageMain__card__image {
    width: 100px;
    margin: 24px 7px 22px 10px;
}